{% extends "base.html" %}
{% load staticfiles %}
{% load markup %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/onedark.css" %}">
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
        <article class="am-article blog-article-p">
            <div class="am-article-hd">
                <h1 class="am-article-title blog-text-center">{{ post.title }}</h1>
                <p class="am-article-meta blog-text-center">
                    <span>{{ post.author }}</span>  <span>{{ post.pub_date.date }}</span>
                </p>
            </div>
            <div class="am-article-bd">
                <img src="{{ post.image.url }}" alt="" class="blog-entry-img blog-article-margin">
                <div>{{ post.body | markup }}</div>
            </div>
        </article>
        <div class="am-g blog-article-widget blog-article-margin">
            <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
                <span class="am-icon-tags"> &nbsp;</span>
                {% for tag in post.tags.all %}
                    <span>{{ tag.name }}&nbsp;</span>
                {% endfor %}
            </div>
        </div>
        <hr>
        <ul class="am-pagination blog-article-margin">
            {% if prev %}
            <li class="am-pagination-prev"><a href="{{ prev.get_absolute_url }}">&laquo;{{ prev.title }}</a></li>
            {% endif %}
            {% if next %}
            <li class="am-pagination-next"><a href="{{ next.get_absolute_url }}">{{ next.title }}&raquo;</a></li>
            {% endif %}
        </ul>
        <hr>
        <ul class="am-comments-list">
            {% for c in post.comments.all %}
            <li class="am-comment">
                <img src="{% static "images/avatar.png" %}" class="am-comment-avatar" width="32" height="32">
                <div class="am-comment-main">
                    <header class="am-comment-hd">
                        <div class="am-comment-meta">
                            <a class="am-comment-author">{{ c.author }}</a>&ensp;<time>{{ c.created }}</time>
                        </div>
                        <div class="am-comment-actions">
                            <a href="#"><i class="am-icon-thumbs-up"></i></a>
                            <a href="#"><i class="am-icon-thumbs-down"></i></a>
                            <span><i class="am-icon-reply"></i></span>
                        </div>
                    </header>
                    <div class="am-comment-bd">
                        {% autoescape off %}
                        <p>{{ c.text|escape }}</p>
                        {% endautoescape %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <hr>
        <form id="comment-form" class="am-form am-g" method="post" action="{% url "blog:comments" %}">
            {% csrf_token %}
            <input name="post" value="{{ post.pk }}" type="text" style="display: none">
            <h3 class="blog-comment">评论</h3>
            <fieldset>
                <div class="am-form-group">
                    <input name="author" type="text" placeholder="名字" required>
                </div>
                <div class="am-form-group">
                    <textarea name="text" rows="5" placeholder="说点什么" required></textarea>
                </div>
                <button type="submit" class="am-btn am-btn-default am-align-right">发表</button>
            </fieldset>
        </form>
        <hr>
    </div>
</div>
{% endblock %}
{% block foot %}
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script>
hljs.initHighlightingOnLoad();
$(document).ready(function () {

})
</script>
{% endblock %}