{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>Editor.md</title>
    <link rel="stylesheet" href="{% static "editormd/css/editormd.min.css" %}">
</head>
<body>

<div id="doc-content">
    <textarea style="display:none;">
    </textarea>
</div>

<script src="{% static "jquery/jquery.min.js" %}"></script>
<script src="{% static "editormd/js/editormd.min.js" %}"></script>
<script>
editormd.katexURL = {
    js  : "https://cdn.bootcss.com/KaTeX/0.8.3/katex.min",
    css : "https://cdn.bootcss.com/KaTeX/0.8.3/katex.min"
};
</script>
<script>
var MdEditor;
$(function () {
    MdEditor = editormd.markdownToHTML("doc-content", {
        htmlDecode: "style,script,iframe",
        emoji: true,
        tex: true,
        codeFold: true
    });
});
</script>
</body>
</html>