{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>Editor.md</title>
    <link rel="stylesheet" href="{% static "editormd/css/editormd.min.css" %}">
    <style>
    .btns {
        width: 90%;
        margin: 0 auto;
    }
    .btns button{
        padding: 8px 10px;
        background: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer;
        -webkit-transition: background 300ms ease-out;
        transition: background 300ms ease-out;
    }
    .btns button:hover{
        background: #f6f6f6;
    }
    </style>
</head>
<body>
<div>
    <div id="editor-md">
        <textarea style="display:none;"></textarea>
    </div>
    <div class="btns">
        <button id="append-btn">发布</button>
    </div>
</div>
<script src="{% static "jquery/jquery.min.js" %}"></script>
<script src="{% static "editormd/js/editormd.min.js" %}"></script>
<script>
editormd.katexURL = {
    js  : "https://cdn.bootcss.com/KaTeX/0.8.3/katex.min",
    css : "https://cdn.bootcss.com/KaTeX/0.8.3/katex.min"
};
</script>
<script>
var MdEditor;
$(function() {
    MdEditor = editormd("editor-md", {
        width      : "90%",
        autoHeight : "80%",
        path       : '/static/editormd/lib/',
        codeFold   : true,
        syncScrolling : "single",
        saveHTMLToTextarea : false,
        searchReplace : true,
        watch : true,
        htmlDecode : "style,script,iframe|on*",
        toolbar  : true,
        previewCodeHighlight : true,
        emoji : true,
        taskList : false,
        tocm : false,
        tex : true,
        imageUpload : true,
        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        imageUploadURL : "/cms/upload-image/"
    });
});
</script>
</body>
</html>