{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="glory">
    <meta name="keywords" content="Blog Django Python">
    <meta name="author" content="Pysaoke">
    <title>Glory - {% block title %}{% endblock %}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{% static "amazeui/i/app-icon72x72@2x.png" %}">
    <link rel="stylesheet" href="{% static "amazeui/css/amazeui.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block head %}{% endblock %}
</head>
<body id="blog">
    <nav class="am-g am-g-fixed blog-fixed blog-nav">
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}">
            <span class="am-sr-only">导航切换</span><span class="am-icon-bars"></span>
        </button>
        <div class="am-collapse am-topbar-collapse" id="blog-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li{% if request.path == "/" %} class="am-active"{% endif %}><a href="/">文章</a></li>
                <li{% if request.path == "/blog/archives/" %} class="am-active"{% endif %}><a href="{% url "blog:archives" %}">归档</a></li>
                <li{% if request.path == "/gallery/photos/" %} class="am-active"{% endif %}><a href="{% url "gallery:photos" %}">YOYO图库</a></li>
            </ul>
        </div>
    </nav>
    <hr>
    {% block content %}{% endblock %}
    <script src="{% static "jquery/jquery.min.js" %}"></script>
    <script src="{% static "amazeui/js/amazeui.min.js" %}"></script>
    <script src="{% static "js/glory.js" %}"></script>
    {% block js %}{% endblock %}
</body>
</html>