{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="glory">
    <meta name="keywords" content="Blog Django Python">
    <meta name="author" content="Pysaoke">
    <title>Glory - {% block title %}{% endblock %}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{% static "amazeui/i/app-icon72x72@2x.png" %}">
    <link rel="stylesheet" href="{% static "amazeui/css/amazeui.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<header><div class="log-header"><h1><a href="/">AmazeUI</a></h1></div></header>
<div class="log">
    <div class="am-g">
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-8 am-u-sm-centered log-content">
            <h1 class="log-title am-animation-slide-top">Pysaoke</h1>
            <br>
            <form class="am-form" id="log-form" method="post">
                {% csrf_token %}
                <div class="am-input-group am-radius am-animation-slide-left">
                    <input name="username" value="{{ form.username.value | default_if_none:"" }}" type="text" class="am-radius" placeholder="账号" required>
                    <span class="am-input-group-label log-icon am-radius"><i class="am-icon-user am-icon-sm am-icon-fw"></i></span>
                </div>
                <br>
                <div class="am-input-group am-animation-slide-left log-animation-delay">
                    <input name="password" value="{{ form.password.value | default_if_none:"" }}" type="password" class="am-form-field am-radius log-input" placeholder="密码" required>
                    <span class="am-input-group-label log-icon am-radius"><i class="am-icon-lock am-icon-sm am-icon-fw"></i></span>
                </div>
                <br>
                <button type="submit" class="am-btn am-btn-primary am-btn-block am-btn-lg am-radius am-animation-slide-bottom log-animation-delay">登 录</button>
                <p class="am-text-danger">{% if form.errors %}拒绝登录{% endif %}</p>
            </form>
        </div>
    </div>
    <footer class="log-footer">© 2014 AllMobilize, Inc. Licensed under MIT license.</footer>
</div>
<script src="{% static "jquery/jquery.min.js" %}"></script>
<script src="{% static "amazeui/js/amazeui.min.js" %}"></script>
</body>
</html>